body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}
    
.introduction{
    background-image: url(background_Capture.PNG);  
    background-repeat: no-repeat; 
    background-size: 1024px 768px;
}

.padding{
    padding-top: 7%;
    padding-right: 5%;
    
}
.padding-left-right{
    padding-left: 10%;
    padding-right: 5%;
}
.bigger-text{
    font-size: 40px;
    font: bold;
}
.orange-color{
    color: orangered;
}
a:link{
    color: white;
    font-weight: 525;
    background-color: rgb(255, 115, 0);
    text-decoration: none;
    padding: 17px 20px;
    border-radius: 4px;
}
a:hover{
    background-color: rgba(255, 68, 0, 0.903);
    color: white;
}
a:visited{
    color: white;
}
h1{
    font-size: 76px;
    font-weight: 500;
}
.half-width{
    padding-left: 10%;
    width: 40%;
}
.flexible-container{
    padding-left: 0px;
    display: flex;
}

.centre-align{
    
    text-align: center;
}
.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.divsionB{
    background-color: rgb(241, 191, 99);

}
.divisionC{
    background-color: wheat;
}
.boxes{
    border-left: 7px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.flexible-containerB{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    /* border-width: 5px;
    border-style: solid;
    border-color: blue;
    border-radius: 2.5px; */
    padding-left: 2.5%;
    padding-right: 5%;
    box-shadow: 15px 15px 15px gray;
}